export MYTERM='alacritty'
export MYBROWSER='librewolf'
export MYFILEMNGR='doublecmd -T'
export PATH=$PATH:$HOME/bin:$HOME/.scripts:$HOME/.local/bin
export WINIT_X11_SCALE_FACTOR=1
setxkbmap de
xset r rate 280 35
